body {
    background-color: #2D2D2D;
    color: #B3B3B3;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}
h1 {
    font-size: 36px;
    background: linear-gradient(45deg, #6C63FF, #818CF8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 50px;
}
.converter-box {
    color: #B3B3B3;
    background-color: #333;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.currency-input {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
.currency-symbol {
    position: absolute;
    left: 10px;
    font-size: 18px;
    color: #ccc;
}
input[type="number"] {
    background-color: #555;
    color: #ccc;
    border: 2px solid #777;
    border-radius: 20px;
    padding: 10px 10px 10px 30px;
    width: 150px;
    font-size: 16px;
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.exchange-rate {
    font-size: 18px;
    color: #b3b3b3a6;
    display: flex;
    align-items: center;
    gap: 5px;
}
img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
footer {
    padding: 50px;
}
footer a {
    color: #6C63FF;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
footer a:hover {
    color: #818CF8;
}